<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.tcreopargh.textconverter">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/tc_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity
            android:label="@string/tc_app_name"
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:label="@string/view_help"
            android:name=".ViewHelpActivity"/>
        <activity
            android:label="@string/about"
            android:name=".AboutActivity"/>
        <activity
            android:label="@string/settings"
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:label="@string/markdown_preview"
            android:name=".MarkdownPreviewActivity"/>
        <activity
            android:label="@string/edit_mode"
            android:name=".TextEditActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:label="@string/title_activity_custom_regex"
            android:name=".CustomRegexActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.tcreopargh.textconverter.MainActivity"/>
        </activity>
    </application>

</manifest>